body {
  font-family: sans-serif;
  line-height: 2rem;
  letter-spacing: .02rem;
}

a {
  color: #CB2EFF;
  text-decoration: none;
}

.em {
  height: 1.4rem;
  width: 1.4rem;
}

.header {
  text-align: center;
}

.header .desc {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.header h2 {
  margin-bottom: 0rem;
}

.marquee h2 {
  font-style: italic;
  font-weight: 400;
  color: #FFBF00;
}

.container {
  max-width: 1000px;
  margin: 0 1rem 6rem;
}

.hr {
  max-width: 200px;
  height: auto;
  margin: 0 auto;
}

.main {
  margin-top: 2rem;
}

.main .title {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.section--e-meter,
.section--phones {
  margin-top: 2rem;
}

/* too bad im not using a compiler eh */
.section--e-meter__photos .item,
.section--phones__photos .item {
  margin: 1rem;
}

@media (min-width: 700px) {
  .container {
    margin: 0 auto 6rem;
  }
  .section--e-meter__photos,
  .section--phones__photos {
    display: flex;
    justify-content: center;
  }
  .section--e-meter__photos .item,
  .section--phones__photos .item {
    flex-shrink: 3;
  }
}

.caption,
.item__caption {
  font-size: 0.85rem;
  font-style: italic;
  padding: 1rem;
}

.item img {
  width: 100%;
}

.bottom {
  margin-top: 5rem;
  text-align: center;
}

.bottom hr {
  margin: 3rem;
}